<div class="page-wrapper">
    <div class="menu-sidebar-content">
        <p>Kategorie:</p>
        <nav class="navbar-sidebar">
            <ul class="list-group list-group-flus">
                <li class="list-group-item" *ngFor="let tempProductCategory of productCategories">
                    <a routerLink="/category/{{ tempProductCategory.id }}/{{ tempProductCategory.categoryName}}">
                        {{ tempProductCategory.categoryName }}
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    
    <div class="product-content">
        
        <div *ngIf="product === undefined; then productThen; else productElse">
        </div>

        <ng-template #productThen>
            <div class="alert alert-warning col-md-12">
                Nie znaleziono produktu
            </div>

            <div class="category-back">
                <div class="category-back-div" routerLink="/category">
                    <p>Wróc na stronę głowną</p>
                </div>
            </div>
        </ng-template>


        <ng-template #productElse>
            <div *ngIf="categoryIdExist && categoryNameExist && !subCategoryIdExist && !subCategoryNameExist">
                <div class="product-back">
                    <a routerLink="/category">
                        <p>
                            KATEGORIE 
                            <i class="fa-solid fa-arrow-right"></i>
                        </p> 
                    </a>
                    <a routerLink="/category/{{productCategoryId}}/{{productCategoryName}}">
                        <p>
                            &nbsp;
                            {{ productCategoryName }} 
                        </p> 
                    </a>
                </div>
                <hr>
            </div>

            <div *ngIf="categoryIdExist && categoryNameExist && subCategoryIdExist && subCategoryNameExist">
                <div class="product-back">
                    <a routerLink="/category">
                        <p>
                            KATEGORIE 
                            <i class="fa-solid fa-arrow-right"></i>
                        </p> 
                    </a>
                    <a routerLink="/category/{{productCategoryId}}/{{productCategoryName}}">
                        <p>
                            &nbsp;
                            {{ productCategoryName }} 
                            <i class="fa-solid fa-arrow-right"></i>
                        </p> 
                    </a>
                    <a routerLink="/subCategory/{{productCategoryId}}/{{productCategoryName}}/{{productSubCategoryId}}/{{productSubCategoryName}}">
                        <p>
                            &nbsp;
                            {{ productSubCategoryName }} 
                        </p> 
                    </a>
                </div>
                <hr>
            </div>
            
            <div class="product-content-main">
                <div class="product-content-head">
                    <div class="product-head-image" >
                        <img src="{{ product?.imageUrl}}" class="img-fluid" />
                    </div>
                    <div class="product-head">
                        <div class="product-head-info">
                            <h2>{{ product?.name }} </h2>
                            <p>Nr katalogowy: {{product?.sku}}</p>
                        </div>
                        <div class="product-head-price">
                            <div class="product-price-info">
                                <hr>
                                <div *ngIf="product!.unitsInStock > 0; then productInStockEnable; else productInStockDisabled">
                                </div>
                                <ng-template #productInStockEnable>
                                    <p>Dostępne: {{product?.unitsInStock }} szt.</p>
                                </ng-template >
                                <ng-template #productInStockDisabled>
                                    <p>Dostępne: 0 szt.</p>
                                </ng-template>
                                <hr>
                                <p>Dostawa: 0 PLN</p>
                                <hr>
                                <p>Wysyłka: <i class="fa-regular fa-clock"></i> Poniedziałek</p>
                            </div>
                            <div class="product-price">
                                <h2>{{product?.unitPrice }} PLN</h2>
                                <p>Cena brutto / 1 szt.</p>
                                <div *ngIf="product!.unitsInStock > 0; then productInStockButtonEnable; else productInStockButtonDisabled">
                                </div>
                                <ng-template #productInStockButtonEnable>
                                    <button (click)="addToCart(product!)" class="productButtonEnable">
                                        <i class="fa fa-shopping-cart fa-xl" aria-hidden="true"></i>
                                        <p>Dodaj do koszyka</p>
                                    </button>
                                </ng-template>
                                <ng-template #productInStockButtonDisabled>
                                    <a class="productButtonDiasbled">
                                        <p>Produkt niedostępny</p>
                                    </a>
                                </ng-template>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                <h1>Inni kupowali również</h1>
                <div class="product-also-bought">
                    <div *ngFor="let tempProduct of productAlsoBought" class="product-bought">
                        <div class="product-bought-image">
                            <a routerLink="/products/{{tempProduct.id}}">
                                <img src="{{tempProduct.imageUrl}}" class="img-fluid">
                            </a>
                        </div>
                        <div class="product-bought-text">
                            <a routerLink="/products/{{tempProduct.id}}">
                                <p> {{tempProduct.name }}</p>
                            </a>
                        </div>
                    </div>
                </div>

                <div *ngIf="scrappedProduct?.length != 0">
                    <hr>
                </div>


                <div class="product-other-sites">
                    <div *ngIf="scrappedProduct?.length != 0">
                        <h1>Cena produktu na innych stronach: </h1>
                        <div class="product-one" *ngFor="let tempScrapperProduct of scrappedProduct">
                            <a href="{{tempScrapperProduct?.pageUrl}}">
                                <p id="product-one-name">{{ tempScrapperProduct?.pageName }}</p>
                                <p id="product-one-price">Cena: {{tempScrapperProduct?.unitPrice}} PLN</p>
                            </a>
                        </div>
                    </div>
                  
                </div>

                <hr>
                <div class="product-details">
                    <h1>Dane techniczne: </h1>
                   
                    <ul>
                        <li *ngIf="productDetails?.data1 != null">
                            {{productDetails?.data1}}
                        </li>
                        <li *ngIf="productDetails?.data2 != null">
                            {{productDetails?.data2}}
                        </li>
                        <li *ngIf="productDetails?.data3 != null">
                            {{productDetails?.data3}}
                        </li>
                        <li *ngIf="productDetails?.data4 != null">
                            {{productDetails?.data4}}
                        </li>
                        <li *ngIf="productDetails?.data5 != null">
                            {{productDetails?.data5}}
                        </li>
                        <li *ngIf="productDetails?.data6 != null">
                            {{productDetails?.data6}}
                        </li>
                        <li *ngIf="productDetails?.data7 != null">
                            {{productDetails?.data7}}
                        </li>
                        <li *ngIf="productDetails?.data8 != null">
                            {{productDetails?.data8}}
                        </li>
                        <li *ngIf="productDetails?.data9 != null">
                            {{productDetails?.data9}}
                        </li>
                        <li *ngIf="productDetails?.data10 != null">
                            {{productDetails?.data10}}
                        </li>
                        <li *ngIf="productDetails?.data11 != null">
                            {{productDetails?.data11}}
                        </li>
                        <li *ngIf="productDetails?.data12 != null">
                            {{productDetails?.data12}}
                        </li>
                        <li *ngIf="productDetails?.data13 != null">
                            {{productDetails?.data13}}
                        </li>
                        <li *ngIf="productDetails?.data14 != null">
                            {{productDetails?.data14}}
                        </li>
                        <li *ngIf="productDetails?.data15 != null">
                            {{productDetails?.data15}}
                        </li>
                        <li *ngIf="productDetails?.data16 != null">
                            {{productDetails?.data16}}
                        </li>
                        <li *ngIf="productDetails?.data17 != null">
                            {{productDetails?.data17}}
                        </li>
                        <li *ngIf="productDetails?.data18 != null">
                            {{productDetails?.data18}}
                        </li>
                        <li *ngIf="productDetails?.data19 != null">
                            {{productDetails?.data19}}
                        </li>
                        <li *ngIf="productDetails?.data20 != null">
                            {{productDetails?.data20}}
                        </li>
                    </ul>
                </div>

                <hr>
                <h1>Inni oglądali również</h1>
                <div class="product-also-watched">
                    <div *ngFor="let tempProduct of productAlsoWatched" class="product-watched">
                        <div class="product-watched-image">
                            <a routerLink="/products/{{tempProduct.id}}">
                                <img src="{{tempProduct.imageUrl}}" class="img-fluid">
                            </a>
                        </div>
                        <div class="product-watched-text">
                            <a routerLink="/products/{{tempProduct.id}}">
                                <p> {{tempProduct.name }}</p>
                            </a>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </ng-template>
    </div>
</div>