<header class="header">
    <div class="logo">
      <a class="router-link" routerLink="/products">
        <i class="fa-solid fa-screwdriver fa-2xl"></i>
        <a>Train</a>
      </a>
    </div>

    <div class="div-media">
      <button class="button-media">
        <i class="fa-solid fa-bars fa-xl"></i>
      </button>
    </div>

    <app-search></app-search>

    <app-cart-status></app-cart-status>

</header>


<router-outlet></router-outlet>



<!-- FOOTER -->
<footer>
  <ul>
    <li><a href="#">O nas</a></li>
    <li><a href="#">Kontakt</a></li>
    <li><a href="#">Pomoc</a></li>
  </ul>
  <h3>© 2022 Train. Wszystkie prawa zastrzeżone.</h3>
</footer>
<!-- END FOOTER -->