<div class="page-wrapper">

  <!-- MENU SIDEBAR -->
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <i class="fa-solid fa-screwdriver fa-2xl"></i>
      <a>Train</a>
      <!-- <img src="assets/images/logo.png" alt="Train" class="img-responsive"> -->
    </div>

    <app-product-category></app-product-category>
  </aside>
  <!-- END MENU SIDEBAR -->

  <div class="page-container">
    <!-- HEADER DEKSTOP -->

    <!-- END HEDER DESKTOP-->

    <div class="main-content">
        <h3>Test</h3>
        <h3>Test</h3>
        <h3>Test</h3>
        <h3>Test</h3>
        <h3>Test</h3>
        <h3>Test</h3>
        <h3>Test</h3>
        <h3>Test</h3>
        <h3>Test</h3>
        <h3>Test</h3>
        <h3>Test</h3>
        <h3>Test</h3>
        <h3>Test</h3>
        <h3>Test</h3>
        <h3>Test</h3>
        <h3>Test</h3>
        <h3>Test</h3>
        
    </div>
  </div>

</div>


<!-- FOOTER -->
<footer>
  <ul>
    <li><a href="#">O nas</a></li>
    <li><a href="#">Kontakt</a></li>
    <li><a href="#">Pomoc</a></li>
  </ul>
  <h3>© 2022 Train. Wszystkie prawa zastrzeżone</h3>
</footer>
<!-- END FOOTER -->