/*
 * ------------------------------
 *         Common CSS
 * ------------------------------
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Poppins,sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #FFFFEA;
    overflow-x: hidden;
}

ul{
    margin:0;
}

h1{
    font-size:3em;
}

h2{
    font-size:2.5em;
}

h3{
    font-size:2em;
}

h4{
    font-size:1.5em;
}

h5{
    font-size:1em;
}

h6{
    font-size:0.5em;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

/*
 * ------------------------------
 *     Header
 * ------------------------------
 */

.header {
    width: 100vw;
    height: 10vh;
    background: #058C42;
    position: relative;
    z-index: 3;
    flex-direction: row;
    display: flex;
}


.header .logo {
    background-color: #04471c;
    height: 100%;
    width: 20%;
    z-index: 3;
    border-right:1px solid #04471c;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.1);
}

.header .logo .router-link {
    width: 100%;
    height: 100%;
    display:flex;
    align-items:center;
    justify-content: center;
    color: #A86A00;
}


.header .logo .router-link a {
    padding-left: 5%;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
}

.header .div-media {
    display: none;
    width: 20%;
    height: 100%;
    background-color: #04471c;
}

.header .div-media .button-media {
    border: none;
    background-color: #04471c;
    color: #A86A00;
}

.header app-search {
    width: 70%;
    height: 100%;
}

.header app-search .search {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input {
    margin-right: 5%; 
    height: 60%;
    line-height: 43px;
    border: 1px solid #16DB65;
    font-size: 1em;
    color: #666;
    padding: 0 17px;
    border-radius: 1em;
    outline: none;
}

.search-input:focus{
    border: 1px solid #058C42;
}

.search-input-size{
    min-width: 350px;
    width: 40%;
}

.search-btn-submit{
    width: 20%;
    height: 60%;
    min-width: 100px;
    color: white;
    border: 1px solid #04471c;
    background: #04471c;
    border-radius: 1em;
}

.search-btn-submit:hover {
    background: #16DB65;
    border-color: #16DB65;
    color: black;
}

.header app-cart-status {
    width: 10%;
    height: 100%;
    background-color: #04471c;
}

.cart-div {
    width: 100%;
    height: 100%;
}

.cart-div a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cart-div a i {
    color: #A86A00;
    padding-top: 20%;
    padding-bottom: 3%;
}

.cart-div a p {
    padding-top: 3%;
    font-size: 1.25em;
    color: #A86A00;
}

/*
 * ------------------------------
 *     Main Content
 * ------------------------------
 */

.page-wrapper {
    overflow: auto;
    width: 100vw;
    flex-direction: row;
    display: flex;
} 

.menu-sidebar-content {
    width: 20%;
    background: #058C42;
}

.menu-sidebar-content p {
    padding-top: 5%;
    text-align: center; 
    font-size: 2em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-sidebar-content .navbar-sidebar {
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 20%;
    width: 100%;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.menu-sidebar-content .navbar-sidebar ul li a{
    color: black;
}

.menu-sidebar-content .navbar-sidebar ul li a:hover{
    color: #00cecb;
    font-weight: bold;
} 

.category-content {
    width: 80%;
    background-color: #16DB65;
}

.category-content-info {
    width: 100%;
    height: 5vh;
    display: flex;
    padding-left: 2%;
    padding-top: 0.5%;
    font-size: 1.15em;
    font-family: Arial, Helvetica, sans-serif;
}

.category-content-div hr {
    margin-top: 0;
}

.category-content-products {
    width: 100%;
    min-height: 100vh;
}

.category-content-products .row {
    margin: 2%;
}

.product-box {
    border-radius: 1.5em;
    height: 95%;
    background-color: white;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    position:relative; 
    overflow:hidden;
}

.product-image {
    height: 55%;
    margin-top: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-image a img {
    width: auto;
    height: auto;
}

.product-box .product-name {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    color: black;
}

.product-name a:link {
    text-decoration: none;
    outline: 0;
}

.product-name a:visited {
    text-decoration: none;
    outline: 0;
}

.product-name a:hover {
    text-decoration: none;
    outline: 0;
}

.product-name a:active {
    text-decoration: none;
    outline: 0;
}

.product-box .price {
    height: 8%;
}

.product-box .btn-size {
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.sub-category-content {
    width: 100%;
    background-color: #16DB65;
}

.subcategory-content-info {
    width: 100%;
    height: 5vh;
    display: flex;
    padding-left: 2%;
    padding-top: 0.5%;
    font-size: 1.15em;
    font-family: Arial, Helvetica, sans-serif;
}


.subcategory-content-products {
    margin: 2%;
    min-height: 100vh;
}

/*
 * ------------------------------
 *         Product Details
 * ------------------------------
 */

.product-content {
    width: 80%;
    height: auto;
    background-color: #16DB65;
}

.category-back {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
}

.category-back-div {
    width: 35%;
    height: 6%;
    background-color: #04471c;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2em;
    cursor: pointer;
}

.category-back-div > p {
    margin: 0;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}




.product-content-main {
    border-radius: 1em;
    width: 76vw;
    height: auto;
    margin-left: 1vw;
    margin-top: 2vh;
    background-color: white;
}

.product-content-main hr {
    margin-top: 5%;
}

.product-content-head {
    display: flex;
    flex-direction: row;
    height: 50vh;
    width: 100%;
}

.product-head-image {
    padding-left: 2%;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.product-head-image img {
    width: 100%;
    height: 90%;
    border: 1px gray solid;
}


.product-head {
    padding-left: 5%;
    padding-right: 5%;
    width: 60%;
    height: 100%;
}

.product-head-info {
    height: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.product-head-price {
    height: 55%;
    display: flex;
}

.product-price-info {
    width: 45%;
    height: 100%;
    margin-right: 5%;
}

.product-price-info p {
    font-weight: bold;
}


.product-price {
    width: 50%;
    height: 100%;
    background-color: #058C42;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-price h2 {
    padding-top: 5%;
    height: 20%;
    color: white;
}

.product-price p {
    color: white;
    height: 15%;
}

.product-price a {
    height: 30%;
    width: 90%;
    background-color: #16DB65;
    border-radius: 3em;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.product-price a i {
    padding-right: 5%;
    color: #A86A00;
}

.product-price a p {
    color: #A86A00;
    font-size: 1.25em;
    padding-bottom: 7%;
}


.product-content-main h1 {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 2%;
}

.product-also-bought {
    margin-left: 2%;
    margin-right: 2%;
    background-color: #16DB65;
    display: flex;
    flex-direction: row;
    border-radius: 2em;
}

.product-bought {
    margin: 1%;
    width: 90%;
    border-radius: 2em;
    background-color: white;
    overflow: hidden;
}

.product-bought-image {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.product-bought-text {
    width: 100%;
    height: 20%;
}

.product-bought-text a p {
    padding: 5%;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}



.product-also-watched {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    background-color: #16DB65;
    display: flex;
    flex-direction: row;
    border-radius: 2em;
}

.product-watched {
    margin: 1%;
    width: 90%;
    border-radius: 2em;
    background-color: white;
    overflow: hidden;
}

.product-watched-image {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.product-watched-text {
    width: 100%;
    height: 20%;
}

.product-watched-text a p {
    padding: 5%;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.product-other-sites {
    width: 96%;
    margin-left: 2%;
}


.product-one  {
    margin-bottom: 2%;
}

.product-one a {
    border-bottom: 1px solid black;
    background-color: #16DB65;
    border-radius: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-one a p {
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1.5em;
    margin: 0;
    padding-bottom: 1%;
    padding-top: 1%;
}

.product-one a #product-one-name {
    color: black;
}

.product-one a #product-one-price {
    color: #FFFFEA;
}




.product-details {
    font-family: Arial, Helvetica, sans-serif;
}

/*

.product-also-bought {
    width: 70vw;
    height: 20vh;
}

.product-details {
    width: 70vw;
    height: auto;
    padding-left: 3%;
}

.product-also-watched {
    width: 70vw;
    height: 20vh;
}  */

/*
 * ------------------------------
 *         Footer
 * ------------------------------
 */

footer {
    position: relative;
    text-align: center;
    height: 13vh;
    width: 100vw;
    z-index: 1;
    background-color: black;
    color: #FFFFEA;  
}

footer li a {
    color: #FFFFEA;
}

footer li a:hover {
    color: #00cecb;
}

footer ul li {
    display: inline-block;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.5em;
}

footer h3 {
    padding-bottom: 5px;
}


/* 
 * ----------------------------
 * Media Queries
 * ----------------------------
 */

 @media (max-width: 1440px){
    footer {
        height: 20vh;
    }
 }

 @Media (max-width: 1150px) {
    .product-price a i {
        font-size: 1em;
    }

    .product-price a p {
        font-size: 1em;
    }
 }


 @media (max-width: 992px) {

    .header .logo .router-link a {
        font-size: 1.5em;
    }

    .header .logo .router-link i {
        font-size: 1.5em;
    }


    .header app-search {
        width: 60%;
    }
    
    .header app-search .search {
        padding-left: 5%;
        justify-content: left;
        margin-left: 0;
    }

    .search-input-size{
        min-width: 300px;
        font-size: 1.25em;
    }

    .search-btn-submit{
        width: 15%;
        font-size: 0.75em;
    }

    .header app-cart-status {
        width: 20%;
    }

    .menu-sidebar-content p {
        font-size: 1.25em;
    }

    .menu-sidebar-content  .navbar-sidebar {
        font-size: 0.5em;
    }

    .product-content-head {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .product-head-image {
        padding-top: 5%;
        width: 80%;
        padding-left: 0;
    }

    .product-head {
        padding-top: 5%;
        width: 90%;
    }

    .product-price {
        height: auto;
    }

    .product-bought-image {
        height: 60%;
    }

    .product-watched-image {
        height: 60%;
    }

    footer {
        height: 15vh;
    }

    footer ul li {
        font-size: 1.25em;
    }

    footer h3 {
        font-size: 1.25em;
    }

}


@media (max-width:767px) { 

    .header {
        height: 10vh;
    }

    .header .logo {
        display: none;
    }

    .menu-sidebar-content {
        display: none;
    }

    .header .div-media {
        min-width: 20%;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header app-search {
        margin-left: 0;
        width: 55%;
    }

    app-search .search {
        padding-left: 5%;
    }

    .header app-cart-status {
        width: 25%;
    }

    .search-btn-submit{
        display: none;
    }

    .search-input-size{
        min-width: 200px;
    }

    .product-box {
        min-height: 403px;
    }

    .product-box .product-name {
        padding-top: 0;
        height: 15%;
    }

    .product-content {
        width: 100%;
        display: flex;
        justify-content: center;
    }


    .category-content {
        width: 100%;
    }

    .product-content-main {
        width: 90%;
        margin-bottom: 5%;
    }

    .product-head-price {
        flex-direction: column;
    }

    .product-price-info {
        width: 100%;
    }

    .product-price-info {
        text-align: center;
    }

    .product-price {
        width: 100%;
        margin-top: 5%;
    }

    .product-price a {
        margin-bottom: 5%;
    }

    .product-price a i {
        font-size: 1.5em;
    }

    .product-price a p {
        padding-bottom: 0;
        padding-top: 4%;
        font-size: 1.5em;
    }

    .product-also-bought {
        border-radius: 0;
        margin-left: 1%;
        margin-right: 1%;
        height: 40vh;
        overflow-x: auto;
    }

    .product-bought {
        min-width: 70vw;
        margin: 3%;
        border-radius: 1em;
        overflow: unset;
    }

    .product-bought-image {
        overflow: hidden;
        border-radius: 1em;
        height: 80%;
    }

    .product-bought-text {
        height: 20%;
    }

    .product-bought-text a {
        height: 100%;
        overflow: hidden;
        font-size: 2em;
    }

    .product-bought-text a p {
        font-size: 0.5em;
    }


    .product-also-watched {
        border-radius: 0;
        margin-left: 1%;
        margin-right: 1%;
        height: 40vh;
        overflow-x: auto;
    }

    .product-watched {
        min-width: 70vw;
        margin: 3%;
        border-radius: 1em;
        overflow: unset;
    }

    .product-watched-image {
        overflow: hidden;
        border-radius: 1em;
        height: 80%;
    }

    .product-watched-text {
        height: 20%;
    }

    .product-watched-text a {
        height: 100%;
        overflow: hidden;
        font-size: 2em;
    }

    .product-watched-text a p {
        font-size: 0.5em;
    }

    .product-one a p {
        font-size: 1em;
    }
    
    footer {
        height: 10vh;
    }

    footer ul li {
        font-size: 1em;
    }

    footer h3 {
        font-size: 1em;
    }
}

@media (max-width: 420px) {
    .search-input-size {
        min-width: 180px;
    }

    .cart-div a p {
        font-size: 1em;
    }

    .product-price a i {
        font-size: 1.25em;
    }

    .product-price a p {
        font-size: 1.25em;
    }

}

@media (max-width: 330px) {
    .search-input-size {
        display: none;
    }
    
    .button-media {
        font-size: 0.75em;
    }

    .cart-div a {
        padding-top: 20%;
    }

    .cart-div a i {
        font-size: 0.75em;
    }

    .cart-div a p {
        padding-top: 10%;
        font-size: 0.75em;
    }

}

/* @media (max-height: 400px) and (max-width: 767px){

    .header {
        height: 25vh;
    }

    .header .div-media {
        min-width: 30vw;
    }

    footer {
        height: 30vh
    }
}  */
